.App {
    background-color: beige;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}

.form-editing-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;}

.preview-section {
    width: 50%;
    padding: 20px;
    border: 1px solid black;

  }

